.mint__container {
    display: flex;
    height: 20rem;
    background-image: linear-gradient(.25turn, black, 65%, #363535);
    margin-top: 1rem;
    font-family: Overpass;
    text-shadow: 2px 2px 4px black;
    justify-content: space-between;
}

.mint__description {
    background-color: transparent;
    padding: 2rem 2rem 2rem 6rem;
    max-width: 30rem;
}

.connected__promo {
    background-color: transparent;
    padding: 2rem 6rem 2rem 2rem;
    max-width: 30rem;
    padding-top: 3rem;
}

.connected__header {
    background-color: transparent;
    font-size: 1.5rem;
    text-align: center;
    color: #da4b4b;
}

.mint__description__words {
    background-color: transparent;
    font-size: 1.2rem;
}

.connected__blurb {
    background-color: transparent;
    font-size: 1.2rem;
    padding-top: 1.2rem;
}

.mint__description__grey {
    text-align: center;
    background-color: transparent;
    color: grey;
    padding-top: 2rem;
} 

.mint__description__header {
    background-color: transparent;
    font-size: 1.5rem;
    text-align: center;
    color: #da4b4b;
}

.mint__form {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    border: 2px white solid;
    box-shadow: 6px 6px #da4b4b;
    width: 30rem;
}

.mint__form__header {
    text-align: center;
    padding-bottom: 1.5rem;
}

.mint__submit {
    background-color: #cc4c4c;
    padding: .3rem 1.5rem;
    transition: .1s all ease-in-out;
    border-radius: 1rem;
    box-shadow: 3px 3px 5px black;
    margin-top: 1.5rem;
    max-width: 8rem;
}

.btn_container {
    text-align: center;
}

.mint__submit:hover {
    background-color: #692828;
    box-shadow: inset 0px 0px 5px black;
    color: gray;
    cursor: pointer;
}

.mint__form__labels {
    padding: .2rem;
    background-color: transparent;
}

/*===================================MEDIA QUERIES==============================================*/
/*Normal Monitors [1201px -> 1920px]*/ 
@media only screen and (max-width: 1920px){
 
}
/*Tablets [601px -> 1200px]*/
@media only screen and (max-width: 1420px){
    .mint__container {
        display: inline-flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 4rem;
    }
    
 
}
/*Big smartphones [426px -> 600px]*/
@media only screen and (max-width: 600px){

    
}
/*Small smartphones [325px -> 425px]*/
@media only screen and (max-width: 425px){

 
}