.header__container {
    display: flex;
    padding: 2rem 4rem;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    background-color: #272727;
    text-shadow: 3px 3px 5px black;
}

.header__logo {
    font-size: 4rem;
    background-color: #272727;
    padding-right: 3rem;
}

.header__links {
    background-color: #272727;
}

.header__seperate{ 
    background-color: #272727;
    transition: .2s ease-out all;
}

.header__seperate:hover{ 
    text-shadow: 0px 0px 3px white;
    color: rgb(0, 0, 0);
}

.connect-btn {
    background-color: #cc4c4c;
    padding: .3rem 1.5rem;
    transition: .1s all ease-in-out;
    border-radius: 1rem;
    box-shadow: 3px 3px 5px black;
}

.connect-btn:hover {
    background-color: #692828;
    box-shadow: inset 0px 0px 5px black;
    color: gray;
}

.sc_link {
    background-color: transparent;
    text-align: center;
    justify-content: center;
}

.sc_link:hover {
    background-color: transparent;
    color: gray;
}

.header__connected {
    background-color: #692828;
    border-radius: 1rem;
    padding: .3rem;
    padding-left: 1rem;
    padding-right: 1rem;
    text-align: center;
    justify-content: center;
    box-shadow: inset 0px 0px 5px black;
}

.connected__disconnect {
    background-color: transparent;
    display: flex;
    flex-direction: column;
}

.header__disconnect {
    background-color: transparent;
    border: none;
    color: gray;
}

.header__disconnect:hover {
    color: #353535;
}