.header__container {
    display: flex;
    padding: 1rem 8rem;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    background: linear-gradient(#3b3b3b, black);
    text-shadow: 3px 3px 5px black;
}

.header__logo {
    font-size: 4rem;
    background-color: transparent;
}

.header__links {
    background-color: transparent;
}

.header__seperate{ 
    background-color: transparent;
    transition: .2s ease-out all;
}

.header__seperate:hover{ 
    text-shadow: 0px 0px 3px white;
    color: rgb(0, 0, 0);
}

.connect-btn {
    background-color: #cc4c4c;
    padding: .3rem 1.5rem;
    transition: .1s all ease-in-out;
    border-radius: 1rem;
    box-shadow: 3px 3px 5px black;
}

.connect-btn:hover {
    background-color: #692828;
    box-shadow: inset 0px 0px 5px black;
    color: gray;
    cursor: pointer;
}

.sc_link {
    background-color: transparent;
    text-align: center;
    justify-content: center;
}

.sc_link:hover {
    background-color: transparent;
    color: gray;
}

.header__connected {
    background-color: #692828;
    border-radius: 1rem;
    padding: .3rem;
    padding-left: 1rem;
    padding-right: 1rem;
    text-align: center;
    justify-content: center;
    box-shadow: inset 0px 0px 5px black;
}

.connected__disconnect {
    background-color: transparent;
    display: flex;
    flex-direction: column;
}

.header__disconnect {
    background-color: transparent;
    border: none;
    color: gray;
}

.header__disconnect:hover {
    color: #353535;
}

/*===================================MEDIA QUERIES==============================================*/
/*Normal Monitors [1201px -> 1920px]*/ 
@media only screen and (max-width: 1920px){
 
}
/*Tablets [601px -> 1200px]*/
@media only screen and (max-width: 1200px){
    .header__container {
        padding: 1rem 2rem;
    }
 
}
/*Big smartphones [426px -> 600px]*/
@media only screen and (max-width: 820px){
    .header__logo {
        font-size: 3rem;
    }
    .header__container {
        flex-direction: column;
        gap: 1rem;
    }    
}
/*Small smartphones [325px -> 425px]*/
@media only screen and (max-width: 425px){
    .header__logo {
        font-size: 3rem;
    }
    .header__container {
        flex-direction: column;
        gap: 1rem;
    }
 
}